/* MOBILE STYLES */
@media all and (min-width: 0px) and (max-width: 1024px) {
  .no-mobile {
    display: none;
  }

  .form-container-mobile {
    width: 80% !important;
  }

  .mobile-divider {
    margin-bottom: 1.5rem;
  }
  
  .container {
    width: 70% !important;
  }
}

/* GENERAL STYLES */
.center-valign {
  justify-content: center;
}

.header {
  font-family: 'Dancing Script', cursive;
}

.parallax-header {
  color: #FFFDD0;
}

.parallax-header:not(:first-of-type) {
  margin-top: 5rem;
}

.parallax-container {
  min-height: 250px;
  height: auto !important;
  color: #FFFDD0;
}

.parallax-container:first-of-type {
  max-height: 300px;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #FFFDD0;
}

/* MATERIALIZE OVERRIDES */
.switch label input[type=checkbox]:checked + .lever {
  background-color: #FFFCB7;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #FFFB9D;
}

input[type="radio"]:checked+span:after {
  background-color: #FFFB9D;
  border: 2px solid #FFFB9D;
}

.container {
  width: 55%;
}

.form-container {
  width: 40%;
}

.btn {
  color: black;
}

label.active {
  color: #FFFCB7 !important;
}

input[type=text]:focus, input[type=number]:focus {
  border-bottom: 1px solid #FFFB9D !important;
  -webkit-box-shadow: 0 1px 0 0 #FFFB9D !important;
  box-shadow: 0 1px 0 0 #FFFB9D !important;
}

input[type=text], input[type=number] {
  color: #FFFDD0 !important;
}

.label-margin {
  margin-top: 1.7rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* IMAGE CLASSES */
.rotate-left {
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

.rotate-right {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}

.rotate-left-less {
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);
}

.position-top-left {
  position: fixed;
  top: 2vh;
  left: 2vw;
}

.position-mid-right {
  position: fixed;
  top: 30vh;
  right: 2vw;
}

.position-bottom-left {
  position: fixed;
  top: 80vh;
  left: 2vw;
}

.white-bordered {
  border: 5px solid white;
}

img.materialboxed.active {
  border: none;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
}

/* SET TALL IMAGES WIDTH AUTO, SET WIDE IMAGES HEIGHT AUTO (WHEN MATERIALBOXED) */
img.materialboxed.active.tall {
  width: auto !important;
}

img.materialboxed.active.wide {
  height: auto !important;
}